article.wrapper {
  margin: 4em auto;
  max-width: 30em;
}

a {
  color: #4095e7;
  transition: .2s ease;
  border-bottom: 1px solid transparent;
  padding-bottom: .3em;
}

a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #4095e7;
}