nav {
  background: black;
  left: 0;
  padding: 0 5em;
  right: 0;
  top: 0;
}
#navbarNav {
  margin: 0;
  text-align: center;
  padding: 0;
}
.nav-item {
  margin: 0 1em;
  padding: 20px 0;
  font-size: 1.1em;
}
.nav-link {
  color: #4095e7;
  margin: 0;
  transition: .2s ease;
}
.nav-link:hover {
  text-decoration: none;
  color: white;
}
.navbar-brand {
  margin-top: -.2em;
}
.navbar-brand:hover {
  border: none;
}