h1 {
  margin-top: 2em;
}

p.welcome {
  max-width: 450px;
  margin: 0 auto 2em auto;
}

a.button:hover {
  border: none;
}

.collection {
  border: solid white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 15px;
}

.collection:hover {
  border-color: green;
}

button.addCollection {
  padding: 0 10px;
  font-size: 1.5em;
  background-color: green;
  border-radius: 10px
}

button.addCollection:hover {
  background-color: green;
  font-size: 1.7em;
  color: blue;
}