<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="https://tonejs.github.io/build/Tone.min.js"></script>
  <script type="text/javascript" src="/MidiConvert.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Testing</h1>
<button id="play-pause">Play</button>

<button class="key-board" id="C4">C1 key</button>
<button class="key-board" id="D4">C2 key</button>
<button class="key-board" id="E4">C3 key</button>
<button class="key-board" id="F4">C4 key</button>
<button class="key-board" id="G4">C5 key</button>
<button class="key-board" id="A4">C6 key</button>
<button class="key-board" id="B4">C7 key</button>
<button class="key-board" id="C5">C8 key</button>

<script>
  synth = new Tone.PolySynth(8, Tone.Synth, {
      oscillator: {
          type: "sine3"
      },
      envelope: {
          attack: .03,
          decay: .1,
          sustain: .2,
          release: .6
      }
  }).toMaster()

  var keyState = {
    C4: false,
    D4: false,
    E4: false,
    F4: false,
    G4: false,
    A4: false,
    B4: false,
    C5: false
  }

  $('.key-board').mousedown(function(e) {
    synth.triggerAttack(this.id);
  });

  $('.key-board').mouseup(function(e) {
    synth.triggerRelease(this.id);
  });

  $(window).on('keydown', function(e) {
    switch (e.key) {
      case 'a':
        if (!keyState.C4) {
          synth.triggerAttack('C4');
          keyState.C4 = true;
        }
        break;

      case 's':
        if (!keyState.D4) {
          synth.triggerAttack('D4');
          keyState.D4 = true;
        }
        break;

      case 'd':
        if (!keyState.E4) {
          synth.triggerAttack('E4');
          keyState.E4 = true;
        }
        break;

      case 'f':
        if (!keyState.F4) {
          synth.triggerAttack('F4');
          keyState.F4 = true;
        }
        break;

      case 'g':
        if (!keyState.G4) {
          synth.triggerAttack('G4');
          keyState.G4 = true;
        }
        break;

      case 'h':
        if (!keyState.A4) {
          synth.triggerAttack('A4');
          keyState.A4 = true;
        }
        break;

      case 'j':
        if (!keyState.B4) {
          synth.triggerAttack('B4');
          keyState.B4 = true;
        }
        break;

      case 'z':
        if (!keyState.C5) {
          synth.triggerAttack('C5');
          keyState.C5 = true;
        }
        break;

    }
  })

  $(window).on('keyup', function(e) {
    switch (e.key) {
      case 'a':
        synth.triggerRelease('C4');
        keyState.C4 = false;
        break;
      case 's':
        synth.triggerRelease('D4');
        keyState.D4 = false;
        break;

      case 'd':
        synth.triggerRelease('E4');
        keyState.E4 = false;
        break;
      case 'f':
        synth.triggerRelease('F4');
        keyState.F4 = false;
        break;

      case 'g':
        synth.triggerRelease('G4');
        keyState.G4 = false;
        break;
      case 'h':
        synth.triggerRelease('A4');
        keyState.A4 = false;
        break;

      case 'j':
        synth.triggerRelease('B4');
        keyState.B4 = false;
        break;

      case 'z':
        synth.triggerRelease('C5');
        keyState.C5 = false;
        break;

      default:
        break;
    }
  })


  function playNote(time, event) {
      synth.triggerAttackRelease(event.name, event.duration, time, event.velocity)
  }
var playing = false;
var playPauseButton = document.getElementById("play-pause");
playPauseButton.onclick=function(){
  console.log("play midi file")
  MidiConvert.load("/Sherlocked.mid", function(midi) {

    // make sure you set the tempo before you schedule the events
    Tone.Transport.bpm.value = midi.header.bpm
    midi.tracks.forEach(function(track){
    // pass in the note events from one of the tracks as the second argument to Tone.Part
    var midiPart = new Tone.Part(playNote, track.notes).start(0)

    })
    if (playing) {
      Tone.Transport.pause();
      playPauseButton.innerHTML = "Play";
      playing = false;
    } else {
      // Start the music
      Tone.Transport.start();

      playPauseButton.innerHTML = "Pause";
      playing = true;
    }



  })
}
</script>
</body>
</html>