<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Synth</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="https://tonejs.github.io/build/Tone.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script>
    // jshint ignore: start
  </script>

  <script src='app.js'></script>
  <link rel="stylesheet" href="note-grid.css">
</head>
<body>
  <div id="noteGrid"></div>
  <div id='options'>
    <button id='clear'>Clear</button>
    <button id='play'>Play</button>
    <button id="stop">Stop</button>
    <label for="instrument">Select Instrument:</label>
    <select name="instrument" id="instrument-selector">
      <option value="synthesizer" selected>Synthesizer</option>
      <option value="drums">Drum Kit</option>
    </select>
  </div>
</body>
</html>